version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_server
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3307:3306"

  python-app:
    build: ./python
    container_name: python_client
    depends_on:
      - mysql
    privileged: true 
    volumes:
      - ./app:/app
      - /tmp/.X11-unix:/tmp/.X11-unix   
      - /dev/video0:/dev/video0        
    environment:
      - DISPLAY=${DISPLAY}            
    working_dir: /app
    stdin_open: true
    tty: true

 
